<h1 class="center title">Welcome to your Movies Collection!</h1>



<div class="center">
  <%= image_tag("tickets.jpg", :alt => "My_Tickets", :class => "picture") %>
</div>

<div class="center">
  <%= link_to 'Get Started', movies_path, :class => 'btn waves-effect' %>
</div>
<!-- <div class="container">
  <%=form_for title_path do %>
    <label for="lookup">Title Lookup</label>
    <div class="input-field">
      
      <%= select_tag :type, Movie.types %>
    </div>
    <div class="input-field">
      <%= text_field_tag :lookup %>
      <%= label_tag :lookup %>
    </div>
    <%= submit_tag "Submit", :class => 'btn waves-effect' %>
  <% end %>
</div>
 -->



<br />
<br />
<br />
<br />










