<div class="row">
  <div class="col s12 m4 offset-m4">
    <h1 class="center"> Edit Movie </h1>
    <%= form_for @movie do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :genre %>
      <%= f.text_field :genre %>

      <%= f.label :actor %>
      <%= f.text_field :actor %>
      <div class="row">
        <%= link_to 'Back', movies_path, :class => 'btn waves-effect' %>
        <%= f.submit 'Update Movie', :class => 'btn waves-effect fright' %>
      </div>
    <% end %>
  </div>
</div>